*{
    margin: 0px;
	padding: 0px;
    font-family: 'Poppins', sans-serif;
    --wide: 110px;
    --wide2:70px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    background-color: #fff;
    transition: height 0.3s ease-in-out;
    z-index:3;
  }
  
  .header2 {
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    transition: height 0.3s ease-in-out;
    z-index:3;
  }
  

nav{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: var(--wide)
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    opacity: 1;
}

.nav-links ul li a{
    color: 	#4fc3f7;
    text-decoration: none;
    font-size: 15px;
    opacity: 1;
    
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #81d4fa;
    display: block;
    margin: auto;
    transition:0.5s;
    opacity: 1;
        
}

.nav-links ul li:hover .dropdown-content {
  display: block;
  opacity: 1;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 2px;
  font-size: 16px;
  border: none;
  opacity: 1;
}

/* The container <div> - needed to position the dropdown content*/
.dropdown {
  position: relative;
  display: inline-block;
  z-index:2;
  opacity: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    opacity: 1;
}

.dropdown-content li{
  display: none;
  position: absolute;
  background-color: rgba(245, 244, 244,0.9);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
  opacity: 1;
}

.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.dropdown-content li {
  padding: 8px 12px;
  opacity: 1;
  
}

.dropdown-content a:hover {
  color: #81d4fa;
  opacity: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content ul{
    display: block;
    position: absolute;
    background-color:rgba(245, 244, 244,0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;
}

/* Show the dropdown content on click */
.dropdown:focus-within .dropdown-content {
    display: block;
    opacity: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #4fc3f7; 
    opacity: 1;
}

.dropdown:hover .dropdown-content ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: rgba(245, 244, 244,0.9);
  text-align: left; 
  opacity: 1;
}

.dropdown:hover .dropdown-content ul li:last-child{
border-bottom:none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;  
}

/* Hide the dropdown content when user clicks outside */
.dropdown:focus-within:not(:focus-within .dropdown-content) .dropdown-content {
    display: none;
}
/* Show the dropdown menu on hover */
nav-links:hover .dropdown-content {display: block;}


nav .fa{
    display: none;
}
/*to make adjustments for use on screens smaller than 700px e.g. phones*/
@media (max-width: 700px){
    

    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
      text-decoration: none;
      font-size: 13px;}

    .nav-links{     /* makes an opaque drop-down menu but only on phones using the nav-links which was already set up for the menu previously*/
        position:absolute;
        background: rgba(250, 250, 250,1);
        opacity: 1;
        height: 180vh;
        width: 200px;
        top:0;
        display:none;
        right: 0px;
        text-align: left;
        z-index: 4;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #3b98e4;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    
    .nav-links ul{
        padding: 30px;
    }

    .dropdown:hover .dropdown-content ul li{
      width: 150px;
      padding:0px;
      border-bottom: 1px dotted #fff;
      background: transparent;
      text-align: left;
      
    }
    .dropdown:hover .dropdown-content {
      width:140;
    }
    .dropdown:hover .dropdown-content a{
      font-size: 12px;
      left:0px;
      top:0px;
    

  
  }
  
  .dropbtn{
padding:0px;
  }
  
  
  .dropdown-content ul {
    margin: 0;
    padding: 0;
  }


    .nav-links ul li.dropdown:hover~li {
      transform: translateY(40px);
    }
  }
  
  /*-----------------footer--------------------------------------------*/
  .footer {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text {
    color: grey;
    font-size: 14px;
  }
  
  .footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .footer-links a {
    color: grey;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
  }

  .footer-links a:hover {
    color: #4fc3f7; /* change color on hover */
  }
  
@media (max-width:700px) and (min-width:500px){
    .footer-links a {
        color: grey;
        font-size: 12px;

    } .footer-text {
        color: grey;
        font-size: 12px;
      }
}

@media (max-width:500px) and (min-width:200px){
    .footer-links a {
        color: grey;
        font-size: 10px;}
        .footer-text {
            color: grey;
            font-size: 10px;
          
}}

.good img{
    width:800px;
    height: auto;
    display: block; /* sets image to display as a block element */
    margin: 0 auto; /* centers the image horizontally */
  }

.good{
    width: 80%; /* 100% - 20% gap on either side */
  padding: 0 10%;
  padding-bottom:30px;
}

h1{
    color: rgb(84, 84, 84);
    font-size: 36px;
    font-weight: 500;
}

h2{
    color: rgb(104, 104, 104);
    font-size: 24px;
    font-weight: 400;
}


p{
    color: rgb(125, 125, 125);
    font-size: 14px;
    font-weight: 300;

}